
h1{
    color:pink;
}

#timer{
    color: rgb(254, 132, 153);
    margin: auto;
    
    margin-top: 10px;
    box-shadow: 3px 4px 5px;
    border-radius: 5px;
   
}
#timer-box{

    width:200px;
    height: 250px;
    border-radius: 5px;
    margin:auto;
    box-shadow:0 4px 10px ;
    padding: 10px;
    background-image:url("img.jpeg");
    background-size: 200px 150px ;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#buttons{
    /* justify-content: center; */
    align-items: flex-end;
    margin-top:0px;
    margin-left: 10px;
    padding: 0%;
    
}
#header{
    margin-top: 67%;
    margin-left: 10px;
    margin-bottom: 2px;
    display: flexbox;
    /* align-items:; */
    /* justify-content: center; */
    padding: 0;

}
#minuteInput{
    
    display:inline;
    width: 40px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px pink;
}

#start, #stop , #reset  ,#set-timer{
    
    margin-top:0px;
    margin-left:6px;
    margin-bottom: 4px;
    padding: 5px;
    background-color: antiquewhite;
    border-style: none;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(249, 110, 133);
}

#footer{
    padding-top: 12px;
    padding-left: 25px;
} 