
#head{
    margin-bottom: 5px;
    color:#fa3063
}
h1{
    color:pink;
}

#timer{
    height:27px;
    color: pink;
    background-color: #fa8ea9;
    margin: auto;
    margin-right: 20px;
    margin-top: 0px;
    align-items:center ;
    justify-content:space-between;
    padding: 0px;
    box-shadow: 2px 2px 2px 2px rgb(249, 110, 133);
    border-radius: 5px;
   
}

h2#display {
    color: #fff;
    height: 20px;
    width: 130px;
    padding-bottom: 8px;
    
}


#timer-box{
    
    width:200px;
    height: 250px;
    background: #ffb3c6;
    -webkit-app-region: drag;
    border-radius: 5px;
    margin:auto;
    box-shadow:0 4px 10px ;
    padding: 10px;
    background-image:url("img.jpeg");
    background-size: 200px 150px ;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.window-controls {
  display: flex;
  /* align-items: center;
  justify-content: end; */
  gap: 2px;
  -webkit-app-region: no-drag;
}

.window-controls button {
  border: none;
  padding: 4px 8px;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.window-controls button:hover {
  background: #fa8ea9;
}

#buttons{
    /* justify-content: center; */
    align-items: flex-end;
    margin-top:0px;
    margin-left: 10px;
    padding: 0%;
    
}
#header{
    
    margin-top: 79%;
    margin-left: 10px;
    margin-bottom: 2px;
    display: flexbox;
    /* align-items:; */
    /* justify-content: center; */
    padding: 0;

}


#minuteInput{
    
    display:inline;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 2px 2px 2px 2px pink;
}

#start, #stop , #reset  ,#set-timer{
    height: 23px;
    margin-top:0px;
    margin-left:6px;
    margin-bottom: 4px;
    padding: 5px;
    background-color: antiquewhite;
    border-style: none;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgb(249, 110, 133);
}

#footer{
    padding-top: 12px;
    padding-left: 25px;
} 
